<h1><%= @todo_list.title%></h1>

<ul class="todo_list">
	<% @todo_list.todo_items.each do |todo_item|%>
	<li>
		<%= todo_item.content %>
	</li>
	<% end %>
</ul>

<p><%= link_to 'New Todo Item', new_todo_list_todo_item_path%></p>

<p><%= link_to 'Back', todo_lists_path %></p>